.mask.d-flex.align-items-center
  .container
    .card.mask-custom.m-5.p-3.mb-0.mt-3
      .card-body
        = form_tag(knowledge_ask_path, {method: :get}) do
          .row.justify-content-left
            .col-md-10.mb-6.mb-md-0
              #basic.form-outline.form-white
                %input#form1.form-control.form-control-lg{placeholder: @question&.question || "Ask the SUSE Geeko", name: "question"}
            .col-md-2
              %input.btn.btn-outline-success.btn-lg{:type => "submit", :value => "Search"}
        .info.m-2
          = "Geeko has insights into #{@kb_count} SUSE Knowledge Base articles and #{@doc_count} SUSE Documentation pages."
          %br
          = "Try it out! Ask him about "
          %i= link_to "'How to use Yast?'", knowledge_ask_path(question: 'How to use Yast?')
          = " or "
          %i= link_to "'How can I see inactive systems in SCC?'", knowledge_ask_path(question: 'How can I see inactive systems in SCC?')
          = "."
