.container
  .card.mask.box
    .card-body.text-center

      .row
        .col-lg-12

          = form_tag(root_path, {method: :get}) do
            .input-group.input-group-lg

              .form-floating
                %input.form-control.form-control-lg.input-lg#search{type: 'search',placeholder: "Ask the SUSE Geeko", name: 'q', value: @question, maxlength: '128'}
                %label.text-muted{for: "search"}
                  Ask the SUSE Geeko

              %button.btn.btn-success.btn-lg.input-group-btn{type: "submit"}
                %i.bi.bi-search

      .info.m-2
        Geeko has insights into:
        = @article_counts.keys.map{|cat| "#{@article_counts[cat]} #{cat}" if @article_counts[cat] > 0 }.compact.join(', ')

        %br
        = "Try it out! Ask him about "
        %i= link_to "'#{@demo_question_1}'", root_path(q: @demo_question_1)
        = " or "
        %i= link_to "'#{@demo_question_2}'", root_path(q: @demo_question_2)
        = "."
