.container
  .card.mask.m-lg-4.m-md-3.m-sm-1.p-lg-3.p-md-2.p-sm-1.mb-0.mt-2
    .card-body.text-center.pt-2

      .row.mb-2
        .col-lg-12

          = form_tag(knowledge_ask_path, {method: :get}) do
            .input-group.input-group-lg

              .form-floating
                %input.form-control.form-control-lg.input-lg#search{type: 'search',placeholder: "Ask the SUSE Geeko", name: 'q', value: @question&.question}
                %label.text-muted{for: "search"}
                  Ask the SUSE Geeko

              %button.btn.btn-success.btn-lg.input-group-btn{type: "submit"}
                %i.bi.bi-search

      .info.m-2
        = "Geeko has insights into #{@kb_count} SUSE Knowledge Base articles and #{@doc_count} SUSE Documentation pages."
        %br
        = "Try it out! Ask him about "
        %i= link_to "'How to use Yast?'", knowledge_ask_path(question: 'How to use Yast?')
        = " or "
        %i= link_to "'How can I see inactive systems in SCC?'", knowledge_ask_path(question: 'How can I see inactive systems in SCC?')
        = "."
