!!!
%html.h-100{lang: 'en'}
  %head
    %title= content_for?(:title) ? yield(:title) : 'Geeko Knowledge'
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body.bg-image.d-flex.flex-column.h-100

    %main.flex-shrink-0

      = yield

    - # view-source:https://getbootstrap.com/docs/5.0/examples/sticky-footer/
    %footer.footer.mt-auto.py-3
      .mask-footer.container.text-center.info
        - #Icons: https://icons.getbootstrap.com/
        %i.bi.bi-github
        = link_to 'Semantic knowledge search', 'https://github.com/digitaltom/semantic-knowledge-search'
        |
        %i.bi.bi-images
        = "Photos by "
        = link_to("Unsplash", "https://unsplash.com/s/photos/chameleon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText")

