!!!
%html{lang: 'en'}
  %head
    %title= content_for?(:title) ? yield(:title) : 'Geeko Knowledge'
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body

    %section.intro
      .bg-image.h-100

        = yield

